# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Unidad5/Ud05Hoja02Ej02/target/
/Unidad7/Ud07Hoja01Ej02/target/
/Unidad7/Ud07Hoja1Ej03/target/
/Ud07Hoja01Ej04/target/
